HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/node_modules/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/target/
/.settings/
/.sts4-cache/
/.classpath
/.project
/.prefs
/.factorypath
/.idea
/.trae
/.m2/**
/.vscode/
/*.iml
*.iml
.idea
.vscode
/logs/
/*.log
/.settings
/.svn
/.classpath
/target/*
/*.classpath
/.mvn
mvnw
mvnw.cmd
